<!DOCTYPE html>

<html>
    <head>
        <title>興趣何倫碼測驗結果</title>
		<meta charset="utf-8" />
    </head>

    <body>
        <table border="0">
            <td>
                <h1 >興趣何倫碼測驗結果</h1>
            </td>
            <td>
                <p>
                    <h2>大專校院就業職能平台個人報告</h2>
                </p>
                <embed src="https://www1.pu.edu.tw/~s1101747/diagnosis.pdf" type="application/pdf" width=800 height=800>
    
                <p><h2>九大職能星</h2></p>
                <embed src="https://www1.pu.edu.tw/~s1101747/nine.pdf" type="application/pdf" width=800 height=800>
    
            </td>

        </table>
            
    </body>
</html>